.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}



.profile-box {
    margin: 70px auto; 
    display: flex;
    background-color: white;
    padding: 20px; 
    border-radius: 20px;
    width: 50%; 
    max-width: 1000px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    animation: fadeIn 1s ease-in forwards;
}

.profile-info{
    display: flex;
    flex-direction: column;
    padding-right: 120px;
}
.contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contact img{
    height: 17px;
    width: 17px;
}

.profile-info-sum{
    margin-left: 65px;
    border-left: 2px solid rgb(216, 215, 215);
    padding-left: 30px;
    
}

.location {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.location img {
    height: 17px;
    width: 17px;
    margin-top:3px;
}

