.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.headshot{
    border-radius: 50%;
    width: 250px;
}


.profile-box {
    margin: 30px auto; 
    display: flex;
    background-color: white;
    padding: 20px; 
    border-radius: 20px;
    width: 60%; 
    max-width: 10000px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    animation: fadeIn 1s ease-in forwards;
}

.profile-info{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    gap: 5px;
}

.profile-info p{
    display: flex;
    width: 250px;
}



.contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contact img{
    height: 17px;
    width: 17px;
}

.profile-info-sum{
    margin-left: 65px;
    border-left: 2px solid rgb(216, 215, 215);
    padding-left: 30px;
    
}

.profile-info-sum h2 {
    font-size: 30px;
    
}

.profile-info-sum p {
    font-size: 17px;
    
}

.location {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.location img {
    height: 16px; 
    width: 16px;
    margin-top:3px;
}

.note{
    margin-top: 5px;
    font-size: 13px;
}

@media (max-width:1050px) {
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 50px 0px 50px;
    }

    .profile-box{
    margin: 30px auto; 
    display: flex;
    background-color: white;
    padding: 20px; 
    border-radius: 20px;
    width: 193%; 
    height: 500px;
    max-width: 10000px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    .headshot{
        width: 40%;
    }

    .profile-info{
        display: flex;
        flex-direction: column;
        padding-right: 1px;
        gap: 5px;
    }

    .profile-info h1{
        font-size: 17px;
        padding-right: 90px;
    }

    .profile-info h4{
        font-size: 10px;
    }

    .profile-info p{
        font-size: 9px;
    }

    .contact img{
        width:10px;
        height: 10px;
    }

    .location img {
        width: 10px;
        height: 10px;
    }

    .location p{
        padding-top: 2px;
        font-size: 9px;
    }

    .note{
        font-size: 9px;
    }

    .profile-info-sum{
        margin-left: 1px;
        border-left: 2px solid rgb(216, 215, 215);

    }

    .profile-info-sum p{
        font-size: 12px;
    }

    .profile-info-sum h2{
        font-size: 16px;
    }
}

