.navbar {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    width: 80%;
    margin: 0 auto;
    padding: 10px 90px 10px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.384);

}


.navbar-logo {
    display: flex;
    align-items: center;
    padding: 10px -40px;
    min-width:100px ;
}

.navbar-logo h1{
    color: white;

}

.navbar-logo img{
    display: flex;
    padding: 10px 30px;
    width: 110px;
}

.profile-list{
    display: flex;
    padding: 20px 100px;
    list-style:none;
    gap:30px;
    color:#49557e;
    font-size: 18px;

}

.project, .certificates, .resume {
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project:hover, .certificates:hover, .resume:hover{
    transform: translateY(-5px); 
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    background: none;
    cursor: pointer;
}



.search-bar input{
    padding: 10px 50px 10px 50px;
    border: none;
    border-radius: 5px;

}

.search-bar ::placeholder{
    padding: 0px;    
}