.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    width: 67%;
    margin: 0 auto;
    padding: 10px 90px 10px;
    margin-top: 17px;
    
}


.navbar-logo {
    display: flex;
    align-items: center;
    padding: 10px -40px;
    min-width:90px ;
}

.navbar-logo h1{
    color: rgb(61, 60, 60);
    font-size: 230%;
}

.navbar-logo img{
    display: flex;
    padding: 10px 30px;
    width: 103px;
}

.profile-list{
    display: flex;
    padding: 20px 50px;
    list-style:none;
    gap:10px;
    color: rgb(61, 60, 60);
    font-size: 18px;
}

.project, .certf, .resume {
    padding: 1px 8px 1px 8px;
    transition: background-color 0.1s smooth, color 0.1s smooth, border-radius 0.1s smooth;
}


.project:hover, .certf:hover, .resume:hover{

    cursor: pointer;
    color: white;
    border-radius: 50px;
    background-color: rgb(61, 60, 60);;
}



.search-bar input{
    padding: 10px 50px 10px 50px;
    border: none;
    border-radius: 5px;

}

.search-bar ::placeholder{
    padding: 0px;    
}

@media (max-width:1050px) {
    .navbar{
        width: 170%;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid black; */
        margin: 0 auto;
        margin-top: 10px;
    }
    .navbar-logo img{
        width: 100px;
    }
    .navbar-logo h1{
        font-size: 16px;
    }

    .profile-list{
        font-size: 12px;
        padding-right: 15px;
    }
}
