.certificates{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    animation: fadeIn 1s ease-in forwards;
}

.certificates h1{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: rgb(39, 38, 38);
    font-size: 40px;
}

.certificate-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 20px 0px;
    color: rgb(39, 38, 38);
    margin: 20px 0px;
}



.certificate-1, .certificate-2, .certificate-3{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 200px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 18%;
    overflow:hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.certificate-1 p, .certificate-2 p, .certificate-3 p{
    padding: 0px 10px 0px 10px;
}


.certificate-1:hover, .certificate-2:hover,.certificate:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.certificate-1 img, .certificate-2 img, .certificate img{
    width: 100%;
    border: none;
    object-fit: cover;
}

.c_source {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px 20px 20px 20px;
    justify-content: right;
    
}

.c_source img{
    width: 15%;
}


.c_source img:hover{
    box-shadow: 0px 0px 4px 4px rgba(81, 235, 235, 0.664);
    /* border-color: green; */
    border-radius: 10px;
    /* background-color: rgba(81, 235, 235, 0.664);; */
}



/* .source a {
    width: 15%;
    
}



.source p{
    font-size: 15px;
    margin-left: 10px;
} */